.one{
    background-color: rgb(255, 251, 0);
    height:100px ;
    padding:20px;
    margin:20px;
    text-align:center;
    order: 0;
    font-style: oblique;
}
.main-container{
    background-color: bisque;
    text-align: center;
    
}
.Jyothi{
    height:80px ;
    border-radius:80px ;
    width:8opx;
    order:1;
}
.two{
    background-color:rgb(50, 205, 179) ;
    color: blanchedalmond;
    text-align: center;
    padding: 20px;
    margin: 10px;
    order:2 ;
    font-style: oblique;
}
.three{
    background-color: rgb(237, 100, 107);
    color: white;
    text-align: center;
    padding: 20px; 
    margin: 20px;
    font-style:oblique;
}
.four{
background-color: rgb(70, 3, 70);
color: floralwhite;
text-align: center;
padding:20px ;
margin:20 ;
font-style: oblique;
}
.sub-container{
display: flex;
flex-direction: row;
gap:20px ;
justify-content: center;
}
.box {
    background-color: plum;
    display:flex;
    flex-direction: row;
    justify-self: center;
    font-style: italic;
}
#sub-container {
    display:flex;
    flex-direction: row;
    gap: 320px;
   padding: 40px;
   font-size:30px; 
}
.main{
    background-color: pink;
    width:1350px;
    height: 500px;
}